@model advancedCharp.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <title>Index</title>
    <h1>INDICE</h1>
    <p>
    @Html.ActionLink("1)AutoProperty", "AutoProperty");
        </p>
    @Html.ActionLink("2)CreateCollection", "CreateCollection");
    <p>
        @Html.ActionLink("3)useExtension", "useExtension");
        </p>

</head>
<body>
    <div>
        
    </div>
</body>
</html>
